* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: rgb(22, 22, 22);
}

/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- PAGE 1 ---------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

/*-------------------------------------------- HEADER ---------------------------------------------*/


.header-top {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    background: hsla(0, 0%, 100%, 1);
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(276, 100%, 94%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(276, 100%, 94%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(276, 100%, 94%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#F3E1FF", GradientType=1);
}

.desktop-top-color {
    display: none;
}

.header-headings {
    margin-left: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

header h1 {
    margin: 0;
    font-size: 1.4rem;
}

header h2 {
    font-size: 0.8rem;
}

.header-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 5px;
}

/*--------------------------------------- PROFILE PICTURE -----------------------------------------*/

.profile-picture img {
    border-radius: 50%;
    border: 4px solid rgb(161, 117, 255);
    padding: 4px;
    width: 110px;
    height: auto;
    position: relative;
    top: 3px;
    left: 10px;
}


/*---------------------------------------- EXTERNAL LINKS -----------------------------------------*/

.linkedin {}

.github {}

/*-------------------------------------------- ABOUT ----------------------------------------------*/

.about {
    margin: 10px;
}

.about h3 {}

.about p {}


/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- PAGE 2 ---------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

.tech-stack {
    margin: 10px;
}

.tech-stack h3 {}

.tech-stack ul {}

.tech-stack li {}

.projects {
    margin: 10px;
}


.education {
    margin: 10px;
}

.education h3 {}

.education ul {}

.education li {}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3 {}

footer p {}


/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------- MEDIA QUERIES --------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 768px) { /*tablet*/

    .header-top {
        gap: 10px;
    }
    
    .header-headings {
        margin-left: 20px;
    }
    
    header h1 {
        font-size: 2rem;
    }
    
    header h2 {
        font-size: 1.1rem;
    }
    
    .header-links {
        gap: 25px;
        margin-top: 20px;
    }

    .profile-picture img {
        border: 5px solid rgb(161, 117, 255);
        padding: 5px;
        width: 200px;
        top: 20px;
    }
}

@media screen and (min-width: 1024px) { /*desktop*/

    .page-1,
    .page-2 {
        min-height: 100vh;
    }

    .page-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .desktop-top-color {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: hsla(0, 0%, 100%, 1);
        background: linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(276, 100%, 94%, 1) 100%);
        background: -moz-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(276, 100%, 94%, 1) 100%);
        background: -webkit-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(276, 100%, 94%, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#F3E1FF", GradientType=1);
    }

    .header-top {
        background: white;
    }

    .header-headings {
        margin-left: 25px;
    }
    
    header h1 {
        font-size: 4rem;
    }
    
    header h2 {
        font-size: 1.8rem;
    }
    
    .header-links {
        margin: 0;
        position: absolute;
        top: 35px;
        right: 55px;
        gap: 20px;
    }

    .profile-picture img {
        border: 6px solid rgb(161, 117, 255);
        padding: 6px;
        width: 300px;
    }

    .about {
        text-align: center;
    }
}